<footer></footer>

<div class="modal-overlay" id="share-modal">
  <div class="modal">
    <button type="button" class="btn btn-link btn-close">
      <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="White-Search" transform="translate(-1041.000000, -154.000000)" fill="#121212">
            <g id="Actions-/-Navigation-/-close-/-24" transform="translate(1041.000000, 154.000000)">
              <polygon id="Fill" points="12 1.05 10.95 0 6 4.95 1.05 0 0 1.05 4.95 6 0 10.95 1.05 12 6 7.05 10.95 12 12 10.95 7.05 6"></polygon>
            </g>
          </g>
        </g>
      </svg>
    </button>
    <h3>Share with friends</h3>
    <ul class="social">
      {% assign url_placeholder = "<url>" %}
      {% assign text_placeholder = "<title>" %}
      {% assign twitter_placeholder = "<twitter>" %}
      {% assign page_url = site.url | uri_escape %}
      {% for button in site.data.social-buttons %}
        {% assign button_url = button.url
          | replace: text_placeholder, page.title
          | replace: url_placeholder, page_url
          | replace: twitter_placeholder, site.twitter_username
          | uri_escape
        %}
        <li>
          <a href="{{ button_url }}" target="_blank" class="js-social-buttons">
            <img src="/assets/images/{{ button.svg }}" alt="{{ button.title }}" title="{{ button.title }}" />
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="row">
      <div class="col-md-8">
        <input type="text" class="form-control" readonly="readonly" value="{{ site.url }}" />
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-block">Copy</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-overlay" id="submit-modal">
  <div class="modal">
    <button type="button" class="btn btn-link btn-close">
      <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="White-Search" transform="translate(-1041.000000, -154.000000)" fill="#121212">
            <g id="Actions-/-Navigation-/-close-/-24" transform="translate(1041.000000, 154.000000)">
              <polygon id="Fill" points="12 1.05 10.95 0 6 4.95 1.05 0 0 1.05 4.95 6 0 10.95 1.05 12 6 7.05 10.95 12 12 10.95 7.05 6"></polygon>
            </g>
          </g>
        </g>
      </svg>
    </button>
    <h3>Submit Story</h3>
    <form action="https://formspree.io/f/xrgjeyjz" method="post">
      <div class="row">
        <div class="col-md mb-3">
          <input type="text" name="first_name" placeholder="First name" class="form-control" />
        </div>
        <div class="col-md mb-3">
          <input type="text" name="last_name" placeholder="Last name" class="form-control" />
        </div>
        <div class="mb-3">
          <input type="email" name="email" placeholder="Email address" class="form-control" required />
        </div>
        <div class="mb-3">
          <input type="text" name="article_title" placeholder="Article title" class="form-control" required />
        </div>
        <div class="mb-3">
          <input type="url" name="article_link" placeholder="Article link" class="form-control" required />
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </span>
            <span>Submit Story</span>
          </button>
          <p class="response"></p>
        </div>
      </div>
    </form>
  </div>
</div>


<script type="text/javascript" src="/assets/js/fuse.js"></script>
<script type="text/javascript" src="/assets/js/global.js"></script>
{%- if page.layout != "post" -%}
  <script type="text/javascript" src="/assets/js/infinite.js"></script>
{%- else -%}
  <script type="text/javascript" src="/assets/js/post.js"></script>
{%- endif -%}
<script src="//coinkite.com/static/banner/banner.js"></script>
