<li>
  {%- if post.link -%}
    <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer">
  {%- else -%}
    <a href="{{ post.url | relative_url }}">
  {%- endif -%}
    <h3><span>{{ post.title | escape }}</span></h3>
    {%- if post.author -%}
      <span class="author">By: {{ post.author }}</span>
    {%- endif -%}
    <span class="date">{{ post.date | date: date_format }}</span>
    <span class="audio">
      {%- if post.audio -%}
        <span>
          <img src="/assets/images/audio.svg" />
        </span>
      {%- endif -%}
    </span>
  </a>
</li>
